<!DOCTYPE html>
<html>
  <head>
    <title>TODO APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  </head>
  <body>
    <div class="contain">
      <nav><h3><a href="/">COMPLETED <br> TASKS</a></h3>
      <h2><a href="/dates">Task History</a></nav></h2>